<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="medPal.App">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="medpal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedPal">
        <activity android:name=".NewSugarLevelRecord"></activity>
        <activity android:name=".NewPressureRecord" />
        <activity android:name=".SugarLevelActivity" />
        <activity android:name=".BloodPressureActivity" /> <!-- Health Condition Pop up window -->
        <activity
            android:name=".healthPopUp"
            android:theme="@style/healthPopStyle" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>