<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="medPal.App">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="medpal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedPal">
        <activity android:name=".NewPressureReminder"></activity>
        <activity android:name=".PressureReminderList" />
        <activity android:name=".EditPillReminderDetail" />
        <activity android:name=".EditMedicineActivity" />
        <activity android:name=".EditPillReminderActivity" />
        <activity android:name=".alarm_item" />
        <activity android:name=".SugarReminderList" />
        <activity android:name=".NewSugarLevelRecord" />
        <activity android:name=".NewPressureRecord" />
        <activity android:name=".SugarLevelActivity" />
        <activity android:name=".BloodPressureActivity" />
        <activity android:name=".NewPillReminder" />
        <activity android:name=".NewAppointment" /> <!-- Health Condition Pop up window -->
        <activity
            android:name=".Homepage.healthPopUp"
            android:theme="@style/healthPopStyle" />
        <activity android:name=".Homepage.editHealth" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewSugarReminder"
            android:parentActivityName=".SugarReminderList">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SugarReminderList" />
        </activity>

        <provider
            android:name=".AlarmReminderProvider"
            android:authorities="medPal.App"
            android:exported="false" />

        <service
            android:name=".ReminderAlarmService"
            android:exported="false" />
    </application>

</manifest>